doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.text-gray-600.bg-gray-50.dark
  header
    nav.navbar.bg-blue-600.text-white.p-4
      .container.mx-auto.flex.justify-between.items-center
        .navbar-start
          a.text-lg.font-bold(href="/") DiveSphere
        .navbar-center.hidden.md 
          ul.menu.menu-horizontal
            each item in navItems
              li
                a.text-white.hover(href=item.href)=item.text
        .navbar-end
    block content

  // TailwindCSS and DaisyUI Scripts
  script(src="https://cdn.jsdelivr.net/npm/tailwindcss@^2/dist/tailwind.min.js")
  script(src="https://cdn.jsdelivr.net/npm/daisyui/dist/full.js")
